@model Orange_Beauty.Models.Venda

@{
    ViewData["Title"] = "Detalhes Venda";
}

<br />

<a type="button" class="btn btn-primary" href="~/Colaborador/Index">Voltar</a>

<br />
<br />

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProd)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.VendaID">Editar</a>
</div>
