@model IEnumerable<Orange_Beauty.Models.Venda>

@{
    ViewData["Title"] = "Lista Vendas";
}
<br />

<a type="button" class="btn btn-primary" href="~/Colaborador/Index">Voltar</a>

<br />
<br />
<h1 class="text-center">Lista de Vendas</h1>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProd)
            </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.VendaID">Editar</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.VendaID">Detalhes</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VendaID">Apagar</a>
                </td>
        </tr>
}
    </tbody>
</table>
