@model IEnumerable<Orange_Beauty.Models.NivelAcesso>

@{
    ViewData["Title"] = "Lista de Níveis de Acesso";
}
<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />
<h1 class="text-center">Lista de Níveis de Acesso</h1>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeNivelAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeNivelAcesso)
            </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.NivelAcessoID">Editar</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.NivelAcessoID">Detalhes</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NivelAcessoID">Apagar</a>
                </td>
        </tr>
}
    </tbody>
</table>
