@model Orange_Beauty.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPFCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPFCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogradouroFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogradouroFunc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplementoFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplementoFunc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEPFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEPFunc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeFunc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoFunc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCadastroFunc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCadastroFunc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
