@model IEnumerable<Orange_Beauty.Models.Funcionario>

@{
    ViewData["Title"] = "Lista de Funcionários";
}
<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />
<h1 class="text-center">Lista de Funcionários</h1>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPFFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogradouroFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplementoFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEPFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CidadeFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCadastroFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogradouroFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplementoFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEPFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCadastroFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FuncionarioID">Editar</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.FuncionarioID">Detalhes</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FuncionarioID">Apagar</a>
                </td>
        </tr>
}
    </tbody>
</table>
