@model IEnumerable<Orange_Beauty.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}
<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
