@model IEnumerable<Orange_Beauty.Models.Status>

@{
    ViewData["Title"] = "Lista Status";
}
<br />

<a type="button" class="btn btn-primary" href="~/Administrador/Index">Voltar</a>

<br />
<br />
<h1 class="text-center">Lista de Status</h1>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeStatus)
            </td>
            <br />
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.StatusID">Editar</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.StatusID">Detalhes</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StatusID">Apagar</a>
                </td>
        </tr>
}
    </tbody>
</table>
